<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="players"></ion-back-button>
    </ion-buttons>    
    <ion-title>Player Details</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openCamera()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/images/{{playerId}}.jpg" />
    <ion-card-header>
      <ion-card-title>{{playerName}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{playerDetail}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let c of cameraImage">
    <img [src]="c" />
    <ion-card-header>
      <ion-card-title>Test Image</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Image Captured
    </ion-card-content>
  </ion-card>

</ion-content>
